<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongodb CRUD Example</title>
</head>
<body>
    
    <h1>Mongodb CRUD Example</h1>
    {{message}}
    <br>
    {{#if edit_id}}
     <h3>Edit</h3>
    <form method="post" action="/update_book/{{edit_id}}">
        <label for="">Title</label>
        <input type="text" name="title" value="{{edit_book.title}}">
        <label for="">Author</label>
        <input type="text" name="author" value="{{edit_book.author}}">
        <input type="submit" >
    </form><br><br>
    {{else}}

    <h3>Create</h3>
    <form method="post" action="/store_book">
        <label for="">Title</label>
        <input type="text" name="title">
        <label for="">Author</label>
        <input type="text" name="author">
        <input type="submit" >
    </form><br><br>

   {{/if}}

    <ul>
        {{#each books}}
        <li> {{this.title}} - {{this.author}}  <a href="/?edit_id={{this._id}}">Edit</a>  <a href="/?delete_id={{this._id}}" onclick="return confirm('Are you sure want to delete?')" >Delete</a></li>
        {{/each}}
    </ul>

</body>
</html>